{:allowed-branchname-matches ["master" "release-.*" "main"]
 :allowed-filename-matches ["(?i)testing/reference/playfab-rest/(?:(?!.*yml))" "(?i)articles/(?:(?!active-directory/saas-apps/toc.yml|role-based-access-control/resource-provider-operations.md))" "(?i)testing/(?:(?!systemuser.md|common.md|brand.string.json|string.json|sub-teams/brand.string.json|sub-teams/string.json|sub-teams/common.md|sub-teams/systemuser.md))" "(?i)Teams/(?:(?!systemuser.md|common.md|brand.string.json|string.json|sub-teams/brand.string.json|sub-teams/string.json|sub-teams/common.md|sub-teams/systemuser.md))"]
 :use-gh-statuses true
 :use-skip-label true
 ;;:guidance-profile "7e7ea0c4-da08-43f2-975f-d20c3907d642" ;;C+L-specific Target
:targets ; This requires ":use-gh-statuses" to be enabled.
   {
     :counts {
              ;:clarity 0
              ;:consistency 7
              ;:correctness 10
              ;:inclusive 10
              ;:scannability 10
              ;:tone 10
              ;:words_and_phrases 10
              ;:total 2 ; absolute flag count, it should not be used in convination with the other possible categories.
              }
     :scores {
              ;:minimum 50
              ;:clarity 80
              ;:consistency 70
              :correctness 100
              ;:inclusive-language 80
              ;:scannability 80
              ;:tone 80
              :words_and_phrases 100
              :qualityscore 80
              }
    }
 :template-header
 "
## Acrolinx score **DRAFT 06.01.22**
 
**A minimum total score of 80 is required. The total score is an average of the subscores.**

Select **Total score** to review the Acrolinx scorecard for your article. Try to increase your individual scores, ex. Correctness. Your article will be clearer and more consistent with Microsoft standards.
 
| Article | **Total score**<br />**Required:80** | Word and phrases<br />(Brand, terms)<br />Preferred: 100 | Correctness<br />(Spelling, grammar)<br />Preferred: 100 | Clarity<br />(Readability)<br />Preferred: 80 | Inclusive language<br />(+ accesibility)<br />Preferred: 100 |
|---------|:------------------------------------:|:--------------------------------------------------------:|:--------------------------------------------------------:|:---------------------------------------------:|:------------------------------------------------------------:|
"

 :template-change
 "| ${s/status} ${s/file} | [${acrolinx/qualityscore}](${acrolinx/scorecard}) | ${acrolinx/scores/words_and_phrases}  | ${acrolinx/scores/correctness}  | ${acrolinx/scores/clarity}  | ${acrolinx/scores/inclusive}  |
"

 :template-footer
 "
**More information about Acrolinx**
- [Install Acrolinx locally for VSCode](https://review.docs.microsoft.com/help/contribute/contribute-acrolinx-vscode)
- [False positives or issues](https://aka.ms/acrolinxbug)
- [Troubleshooting issues with Acrolinx](https://review.docs.microsoft.com/help/contribute/acrolinx-error-messages)
"
}
