{:allowed-branchname-matches ["master" "release-.*" "main"]
 :allowed-filename-matches ["(?i)articles/(?:(?!active-directory/saas-apps/toc.yml|role-based-access-control/resource-provider-operations.md))" "(?i)testing/(?:(?!systemuser.md|common.md|brand.string.json|string.json|sub-teams/brand.string.json|sub-teams/string.json|sub-teams/common.md|sub-teams/systemuser.md))" "(?i)Teams/(?:(?!systemuser.md|common.md|brand.string.json|string.json|sub-teams/brand.string.json|sub-teams/string.json|sub-teams/common.md|sub-teams/systemuser.md))"]
 :use-gh-statuses true
 :use-skip-label true
 :guidance-profile "1e7ea0c4-da08-43f2-975f-d20c3907d642" ;;C+L-specific Target
:targets ; This requires ":use-gh-statuses" to be enabled.
   {
     :counts {
              ;:clarity 0
              ;:consistency 7
              ;:correctness 10
              ;:inclusive 10
              ;:scannability 10
              ;:tone 10
              ;:words_and_phrases 10
              ;:total 2 ; absolute flag count, it should not be used in convination with the other possible categories.
              }
     :scores {
              ;:minimum 50
              ;:clarity 80
              ;:consistency 70
              ;:correctness 80
              ;:inclusive-language 80
              ;:scannability 80
              ;:tone 80
              ;:words_and_phrases 80
              :qualityscore 89
              }
    }
}
